<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <link href="../css/resume.css" rel="stylesheet" type="text/css" media="all">
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <title>My resume</title>
</head>
<body class="main">
<div>
    <div class="header-section">
        <img class="img-circle header-section-face" src="../img/psb.jpg">
        <h1>hello..<span>!</span></h1>
        <p>My name is GroungChar.Z & I want to get a job</p>
        <a href="info.html" class="scroll top">
            <div class="contact-details">
                <input type="submit" value="GO>>>" data-toggle="modal" data-target="#biye"/>
            </div>
        </a>
    </div>
</div>
</body>
</html>